.actor-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.actor-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem;
  width: 80%;
  border-radius: 10px;
  background: white;
  box-shadow: 5px 10px 15px #888888;
}

.actor-name {
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.movies-container {
  display: flex;
  justify-content: space-evenly;
  padding: .5rem;
}

.movie-title {
  font-style: italic;
  padding-top: .5rem;
}