<div class="list-container">
  <div *ngIf="loading">
    Loading. . .
  </div>

  <div *ngIf="!loading">
    <div>
      {{resultMessage}}
    </div>

    <div class="actor-container" *ngIf="sharedActors.length">
      <div class="actor-card" *ngFor="let actor of sharedActors">
        <div class="actor-name">{{actor.Name}}</div>
        <div class="movies-container">
          <div class="cage-movies">
            <div>
              Movies with Nicolas Cage
            </div>
            <div class="movie-title-container" *ngFor="let movie of actor.NCMovies">
              <div class="movie-title">{{movie}}</div>
            </div>
          </div>
          <div class="reaves-movies">
            <div>
              <div>
                Movies with Keanu Reeves
              </div>
              <div class="movie-title-container" *ngFor="let movie of actor.KRMovies">
                <div class="movie-title">{{movie}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
